<!DOCTYPE html>
<html lang="fr">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Les Blogules Blancs</title>

        <!-- Bootstrap Core CSS -->
        <link href="{{ asset('css/bootstrap.min.css')}}" rel="stylesheet">

        <!-- Custom CSS -->
        <link href="{{ asset('css/blog-home.css')}}" rel="stylesheet">

        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->

    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">Accueil</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    {% if is_granted('ROLE_ADMIN')%}
                    <li>
                        <a href="/admin/create"> Créer article</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_SUPER_ADMIN')%}
                    <li>
                        <a href="#">Administration</a>
                    </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER')%}
                        <li>
                            <a href="/logout">Déconnexion</a>
                        </li>
                    {% endif %}
                    {% if is_granted('ROLE_USER')==false %}
                        <li>
                            <a href="/login">Connexion</a>
                        </li>
                        <li>
                            <a href="/register">S'enregistrer</a>
                        </li>
                    {% endif %}
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}
            <!-- jQuery -->
            <script src="{{ asset('js/jquery.js')}}"></script>

            <!-- Bootstrap Core JavaScript -->
            <script src="{{asset('js/bootstrap.min.js')}}"></script>
        {% endblock %}
    </body>
</html>
